.home {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-text-wrapper {
    display: flex;
    justify-content: center;

    h1 {
      color: var(--yellow-theme-main-color);
      margin: 0;
      font-weight: 500;
      font-size: 8rem;
      line-height: 10rem;
      position: relative;
      overflow: hidden;
      white-space: nowrap;

      .line1,
      .line2 {
        display: flex;
        overflow: hidden;
      }

      .line1 {
        animation: typing 2.7s steps(30, end);
      }

      .line2 {
        width: 0;
        animation: typing 2.7s steps(30, end) forwards 2.7s;
      }
    }
  }

  &-contact-me {
    margin-top: 15px;

    button {
      cursor: pointer;
      padding: 10px 70px;
      background: transparent;
      color: var(--yellow-theme-main-color);
      border: 1.5px solid var(--yellow-theme-main-color);
      border-radius: 4px;
      font-weight: 500;
      font-size: 1.5rem;

      &:hover {
        background: var(--yellow-theme-main-color);
        color: var(--yellow-theme-button-text-color);
      }
    }
  }
}

@media (max-width: 990px) {
  .home-text-wrapper h1 {
    font-size: 6rem;
    line-height: 8rem;
  }
}

@media (max-width: 768px) {
  .home-text-wrapper h1 {
    font-size: 4rem;
    line-height: 6rem;
  }
}

@media (max-width: 551px) {
  .home-text-wrapper h1 {
    font-size: 3rem;
    line-height: 5rem;
  }
}

@media (max-width: 431px) {
  .home-text-wrapper h1 {
    font-size: 2.5rem;
    line-height: 4rem;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
